<script src="js/jquery.mmenu.js"></script>
<script type="text/javascript">
$(function() {
  $('nav#menu').mmenu();
  $('#menu').css('display','');
});
</script>
<nav id="menu" style="display:None">
  <ul>
    <li>
      {if $login}
      <a href="user.php?act=logout">{$lang.user_logout}</a>
      {else}
      <a href="user.php">{$lang.user_login}</a>
      {/if}
    </li>
    <li>
      <a href="cat_all.php">{$lang.cat_all}</a>
    </li>
    {foreach from=$pcat_array item=pcat_data}
    {if $pcat_data.name}
    <li>
      <a href="category.php?c_id={$pcat_data.id}">{$pcat_data.name}</a>
      {if count($pcat_data['cat_id'])}
        <ul>
        {foreach from=$pcat_data['cat_id'] item=cat_data name=foo}
        {if $cat_data.name}
        <li>
          <a href='category.php?c_id={$cat_data.id}'>{$cat_data.name}</a>
        </li>
        {/if}
        {/foreach}
        </ul>
      {/if}
    </li>
    {/if}
    {/foreach}
  </ul>
</nav>
