<!DOCTYPE html>
<html>
<head>
{include file='head.html'}
</head>
<body>

<header id="header" >
  <div class="header_l">
    <a class="ico_10" href="javascript:history.back()"></a>
  </div>
  <h1>{$lang.consignee_info}</h1>
  <div class="header_r">
    <a class="ico_01" href="flow.php"></a>
  </div>
</header>

<div class="cart-step" id="J_cartTab">
    <ul>
        <li>1. {$lang.step_submit_order}</li>
        <li class="cur">2. {$lang.step_confirm_order}</li>
        <li>3. {$lang.step_order_success}</li>
    </ul>
</div>


<div class="blank3"></div>
<div class="wrap">
    {foreach from=$consignee_list item=consignee key=sn}
    {if $consignee.address_id}
    <section class="order_box padd1 radius10" style="padding-top:0;padding-bottom:0;">
        <div class="table_box2 table_box">
            <form style="padding:8px;" action="flow.php?step=consignee" method="post" name="theForm" id="theForm" onsubmit="return checkConsignee(this)">
                <dl>
                    <dd class="dd1">{$lang.consignee_name}</dd>
                    <dd class="dd2">
                        <input name="consignee" class="inputBg" id="consignee_0" value="{$consignee.consignee}" type="text">
                        <span>*</span></dd>
                </dl>
                <dl>
                    <dd class="dd1">{$lang.phone}</dd>
                    <dd class="dd2">
                        <input name="tel" class="inputBg" id="tel_0" value="{$consignee.tel}" type="text">
                        <span>*</span></dd>
                </dl>
                <dl>
                    <dd class="dd1">{$lang.email}</dd>
                    <dd class="dd2">
                        <input name="email" class="inputBg" id="email_0" value="{$consignee.email}" type="text">
                        <span>*</span></dd>
                </dl>



                <dl>
                    <dd class="dd1">{$lang.region}</dd>
                    <dd class="dd2">
                        <select name="country" id="selCountries_{$sn}" onchange="region.changed(this, 1, 'selProvinces_{$sn}')" style="border:1px solid #ccc;">
                            <option value="0" {if $consignee.country eq 0}selected{/if}>{$lang.choose_country}</option>
                            {foreach from=$country_list item=country}
                            <option value="{$country.region_id}" {if $country.region_id eq $consignee.country}selected{/if}>{$country.region_name}</option>
                            {/foreach}
                        </select>

                        <select name="province" id="selProvinces_{$sn}" onchange="region.changed(this, 2, 'selCities_{$sn}')" style="border:1px solid #ccc;">
                            <option value="0" {if $consignee.province eq 0}selected{/if}>{$lang.choose_province}</option>
                            {foreach from=$province_list.$sn item=province}
                            <option value="{$province.region_id}" {if $province.region_id eq $consignee.province}selected{/if}>{$province.region_name}</option>
                            {/foreach}
                        </select>
                        <select name="city" id="selCities_{$sn}" onchange="region.changed(this, 3, 'selDistricts_{$sn}')" style="border: 1px solid rgb(204, 204, 204); padding: 2px;">
                            <option value="0" {if $consignee.city eq 0}selected{/if}>{$lang.choose_city}</option>
                            {foreach from=$city_list.$sn item=city}
                            <option value="{$city.region_id}" {if $city.region_id eq $consignee.city}selected{/if}>{$city.region_name}</option>
                            {/foreach}
                        </select>
                        <select name="district" id="selDistricts_{$sn}" style="border: 1px solid rgb(204, 204, 204); padding: 2px;">
                            <option value="0" {if $consignee.district eq 0}selected{/if}>{$lang.choose_district}</option>
                            {foreach from=$district_list.$sn item=district}
                            <option value="{$district.region_id}" {if $district.region_id eq $consignee.district}selected{/if}>{$district.region_name}</option>
                            {/foreach}
                        </select>
                        <span>*</span> </dd>
                </dl>




                <dl>
                    <dd class="dd1">{$lang.address}</dd>
                    <dd class="dd2">
                        <input name="address" class="inputBg" id="address_0" value="{$consignee.address}" type="text">
                        <span>*</span></dd>
                </dl>
                <dl>
                    <dd class="dd1">{$lang.zipcode}</dd>
                    <dd class="dd2">
                        <input name="zipcode" class="inputBg" id="zipcode_0" value="{$consignee.zipcode}" type="text">
                    </dd>
                </dl>


                <dl style="border:none; padding-bottom:0">


                    <dd class="w40">
                        <button name="Submit" class="c-btn3" type="submit">{$lang.ship_here}</button>
                    </dd>
                    <dd class="w10"></dd>
                    <dd class="w40">
                        <button onclick="if (confirm('{$lang.msg_confirm_drop_consignee}')) location.href='flow.php?step=drop_consignee&amp;id={$consignee.address_id}'" name="button" class="c-btn3" type="button">{$lang.delete}</button>
                    </dd>
                </dl>
                <input name="act" value="checkout" type="hidden">
                <input name="address_id" value="{$consignee.address_id}" type="hidden">
            </form>
        </div>
    </section>
    <div class="blank3"></div>
    {/if}
    {/foreach}

    <section style="padding-top:0;padding-bottom:0;" class="order_box padd1 radius10">
        <div class="table_box2 table_box">
            <form onsubmit="return checkConsignee(this)" id="theForm" name="theForm" method="post" action="flow.php?step=consignee" style="padding:8px;">
                <dl>
                    <dd class="dd1">{$lang.consignee_name}</dd>
                    <dd class="dd2">
                        <input type="text" value="" id="consignee_2" class="inputBg" name="consignee">
                        <span>*</span></dd>
                </dl>
                <dl>
                    <dd class="dd1">{$lang.phone}</dd>
                    <dd class="dd2">
                        <input type="text" value="" id="tel_2" class="inputBg" name="tel">
                        <span>*</span></dd>
                </dl>
                <dl>
                    <dd class="dd1">{$lang.email}</dd>
                    <dd class="dd2">
                        <input type="text" value="" id="email_2" class="inputBg" name="email">
                        <span>*</span></dd>
                </dl>



                <dl>
                    <dd class="dd1">{$lang.region}</dd>
                    <dd class="dd2">
                        <select style="border:1px solid #ccc; padding:2px" onchange="region.changed(this, 1, 'selProvinces_{$new_sn}')" id="selCountries_{$new_sn}" name="country">
                            <option value="0">{$lang.choose_country}</option>
                            {foreach from=$country_list item=country}
                            <option value="{$country.region_id}">{$country.region_name}</option>
                            {/foreach}
                        </select>

                        <select style="border:1px solid #ccc; padding:2px" onchange="region.changed(this, 2, 'selCities_{$new_sn}')" id="selProvinces_{$new_sn}" name="province">
                            <option value="0" selected>{$lang.choose_province}</option>
                        </select>
                        <select style="border: 1px solid rgb(204, 204, 204); padding: 2px;" onchange="region.changed(this, 3, 'selDistricts_{$new_sn}')" id="selCities_{$new_sn}" name="city">
                            <option value="0" selected>{$lang.choose_city}</option>
                        </select>
                        <select style="border: 1px solid rgb(204, 204, 204); padding: 2px; display:none" id="selDistricts_{$new_sn}" name="district">
                            <option value="0" selected>{$lang.choose_district}</option>
                        </select>
                        <span>*</span> </dd>
                </dl>




                <dl>
                    <dd class="dd1">{$lang.address}</dd>
                    <dd class="dd2">
                        <input type="text" value="" id="address_2" class="inputBg" name="address">
                        <span>*</span></dd>
                </dl>
                <dl>
                    <dd class="dd1">{$lang.zipcode}</dd>
                    <dd class="dd2">
                        <input type="text" value="" id="zipcode_2" class="inputBg" name="zipcode">
                    </dd>
                </dl>


                <dl style="border:none; padding-bottom:0">
                    <dd>
                        <button name="Submit" class="c-btn3" type="submit">{$lang.ship_here}</button>
                    </dd>
                </dl>
                <input type="hidden" value="checkout" name="act">
                <input type="hidden" value="" name="address_id">
            </form>
        </div>
    </section>
</div>

{include file='foot.html'}


<script type="text/javascript" src="js/transport.js"></script>
<script type="text/javascript" src="js/utils.js"></script>
<script type="text/javascript" src="js/shopping_flow.js"></script>

<script type="text/javascript">
var selAll = document.getElementById("selAll");
function selectAll_guan()
{
  var obj = document.getElementsByName("checkAll[]");
  if(document.getElementById("selAll").checked == false)
  {
  for(var i=0; i<obj.length; i++)
  {
    obj[i].checked=false;
  }
  }else
  {
  for(var i=0; i<obj.length; i++)
  {  
    obj[i].checked=true;
  }
  }
 
}

//当选中所有的时候，全选按钮会勾上
function setSelectAll_guan()
{
var obj=document.getElementsByName("checkAll[]");
var count = obj.length;
var selectCount = 0;

for(var i = 0; i < count; i++)
{
if(obj[i].checked == true)
{
selectCount++;
}
}
if(count == selectCount)
{
document.all.selAll.checked = true;
}
else
{
document.all.selAll.checked = false;
}
}

//反选按钮
function inverse_guan() {
var checkboxs=document.getElementsByName("checkAll[]");
for (var i=0;i<checkboxs.length;i++) {
  var e=checkboxs[i];
  e.checked=!e.checked;
  setSelectAll_guan();
}
}

function cartsubmit_click()
{
  document.getElementById('formCart').submit();
}

</script>

<script type="text/javascript" src="js/region.js"></script>
<script type="text/javascript">
          region.isAdmin = false;
                    
          
          
          onload = function() {
            if (!document.all)
            {
              document.forms['theForm'].reset();
            }
          }
          
        </script>


<script type="text/javascript">

function select_com_address(obj)
{
  var com_address = document.getElementsByName('com_address');
  var len = com_address.length;
  for(var i=0; i<=len; i++)
  {
    if(com_address[i])
    {
      if(com_address[i].checked)
      {
        com_address[i].checked = false;
      }
    }
  }

  obj.checked = true;
}
</script>
</body>
</html>
