<!DOCTYPE html>
<html>
<head>
{include file='head.html'}
</head>
<body>

<header id="header" >
  <div class="header_l">
    <a class="ico_10" href="javascript:history.back()"></a>
  </div>
  <h1>{$lang.confirm_order}</h1>
  <div class="header_r">
    <a class="ico_01" href="flow.php"></a>
  </div>
</header>

<div class="cart-step" id="J_cartTab">
    <ul>
        <li>1. {$lang.step_submit_order}</li>
        <li class="cur">2. {$lang.step_confirm_order}</li>
        <li>3. {$lang.step_order_success}</li>
    </ul>
</div>


<script>
    onload = function() {
        var sp = document.getElementsByName('shipping');

        for (i=0;i<sp.length;i++){
            if (sp[i].checked){
                oRadioValue = sp[i];
            }
        }
        selectShipping(oRadioValue );

        var py = document.getElementsByName('payment');
        for (i=0;i<py.length;i++){
            if (py[i].checked){
                oRadioValue = py[i];
            }
        }
        //selectPayment(oRadioValue );

        var pack = document.getElementsByName('pack');
        for (i=0;i<pack.length;i++){
            if (pack[i].checked){
                oRadioValue = pack[i];
            }
        }
        selectPack(oRadioValue );
        var bonus = document.getElementsByName('bonus');
        for (i=0;i<bonus.length;i++){
            if (bonus[i].checked){
                oRadioValue = bonus[i];
            }
        }
        //changeBonus(oRadioValue );



        var card = document.getElementsByName('card');
        for (i=0;i<card.length;i++){
            if (card[i].checked){
                oRadioValue = card[i];
            }
        }
        selectCard(oRadioValue );

    }
</script>
<script type="text/javascript">
            function select_bonus_click(obj, house_id)
            {
                if(obj == 'obj_one')
                {
                    document.getElementById('ECS_BONUS' + house_id).disabled = false;
                    document.getElementById('obj_tow_text' + house_id).disabled = true;
                    document.getElementById('obj_tow_btn' + house_id).disabled = true;
                    document.getElementById('obj_tow_btn' + house_id).className = 'bnt_blue_1_gray';
                }
                else
                {
                    document.getElementById('obj_tow_text' + house_id).disabled = false;
                    document.getElementById('obj_tow_btn' + house_id).disabled = false;
                    document.getElementById('obj_tow_btn' + house_id).className = 'bnt_blue_1';
                    document.getElementById('ECS_BONUS' + house_id).disabled = true;
                }
            }
</script>


<div class="blank3"></div>
<section class="wrap">
<form action="flow.php" method="post" name="theForm" id="theForm" onsubmit="return checkOrderForm(this)">
<section class="order_box padd1 radius10" style="padding-top:0">
    <div class="in">
        <div class="table_box table_box1">
            <dl>
                <dd class="w50">{$lang.consignee_name}{$lang.colon}<span class="f1">{$consignee.consignee}</span></dd>
                <dd class="w50 c999">
                    <div class="ico_14"></div>
                    {$consignee.tel} <a href="flow.php?step=consignee" class="modify radius5">{$lang.modify}</a></dd>
            </dl>
            <dl>
                <dd class="w50 b_no">{$lang.address}{$lang.colon} {$consignee.country_str} {$consignee.province_str} {$consignee.city_str} {$consignee.district_str} {$consignee.address}</dd>
            </dl>
        </div>
    </div>
</section>

<style>
  .table_box2 .dd1 { width: 100%; }
  .table_box2 .span1 { margin-left: 10px; }
</style>
<div class="blank3"></div>
<section class="order_box padd1 radius10" style="padding-top:0.3rem;padding-bottom:0.3rem;">
    <div class="table_box table_box2">
        <dl>
            <dd class="dd1">{$lang.shipping_method}<span class="span1 radius5">{$lang.required}</span></dd>
            <dd class="dd2"></dd>
        </dl>
        <div class="dl_box" id="shipping">
            <p>
                {foreach from=$shipping_list item=shipping}
                <input name="shipping" class="radio" id="shipping_2" value="2" supportcod="1" insure="0" onclick="selectShipping(this)" style="vertical-align:middle" type="radio"><label for="shipping_2"> {$shipping.shipping_name}</label><br>
                {/foreach}
            </p>
            <!--  <input name="need_insure" id="ECS_NEEDINSURE" type="checkbox"  onclick="selectInsure(this.checked)" value="1"  disabled="true"  />
   配送是否需要保价-->
        </div>


        <dl>
            <dd class="dd1">{$lang.payment_method}<span class="span1 radius5">{$lang.required}</span></dd>
            <dd class="dd2"></dd>
        </dl>
        <div class="dl_box" id="payment">
            {foreach from=$payment_list item=payment}
            <p>
                <input class="radio" name="payment" id="payment_4" value="4" iscod="1" onclick="selectPayment(this)" style="vertical-align:middle" type="radio"><label for="payment_4"> {$payment.pay_name}</label>
            </p>
            {/foreach}
        </div>
    </div>
</section>

<div class="blank3"> </div>
<section class="order_box padd1 radius10" style="padding-top:0.3rem;padding-bottom:0.3rem;">
    <div class="table_box table_box2" style=" margin-bottom:0.5rem">

        <div class="dl_box">
            <dl>
                <dd class="c333">
                    留言备注
                </dd>
                <dd>
                    <input placeholder="请输入订单备注" name="postscript" size="20" type="text">
                </dd>
            </dl>
            <dl>
                <dd class="c333">

                </dd>
                <dd>


                </dd>
            </dl>
        </div>
    </div>
</section>
<div class="blank3"></div>


<section class="order_box padd1 radius10" style="padding-top:0;padding-bottom:0;">
    <div class="table_box table_box3">
        <dl>
            <dd>商品列表<a href="flow.php" class="modify radius5">修改</a></dd>
        </dl>



        <div style="border:1px solid red; padding:0px 10px 0px 10px;">
            {foreach from=$goods_list item=goods}
            <dl>
                <dd class="dd1 w60">
                    <a href="goods.php?id=2113" target="_blank">{$goods.name}</a>
                </dd>
                    <dd class="dd2 w10 c999"> x {$goods.number} </dd>
                    <dd class="dd3 w30"> {$goods.price} </dd>

            </dl>
            {/foreach}


            <br>

		</span>




        </div>



        






        <div id="ECS_ORDERTOTAL">


            <dl>
                <dd class="dd3 c999">
                    该订单完成后，您将获得
                    <font class="f4_b">0</font> 积分       <br>

                    商品总价: <font class="f4_b">￥7.90</font>

                    <br>

                    重量总计: <font class="f4_b">0.52</font>kg&nbsp;&nbsp;&nbsp; 应付款金额: <font class="f4_b">￥7.90</font>
                </dd>
            </dl>



        </div> </div>
</section>
<div class="blank3"></div>

<input name="submit" value="提交订单" class="c-btn3" type="submit">
<input name="step" value="done" type="hidden">
</form>
</section>

{include file='foot.html'}

</body>
</html>
