<!DOCTYPE html>
<html>
<head>
{include file='head.html'}
</head>
<body>

<header id="header" >
  <div class="header_l">
    <a class="ico_10" href="javascript:history.back()"></a>
  </div>
  <h1>{$lang.cart}</h1>
  <!-- <div class="header_r">
    <a class="ico_01" href="flow.php"></a>
  </div> -->
</header>

<div class="cart-step" id="J_cartTab">
    <ul>
        <li class="cur">1. {$lang.step_submit_order}</li>
        <li>2. {$lang.step_confirm_order}</li>
        <li>3. {$lang.step_order_success}</li>
    </ul>
</div>


<style>
  .itemlist { overflow-x: hidden; }
  .itemlist li h4 {
    padding: 0 3rem 0 0.6rem;
    height: auto;
  }
  .itemlist li .b { padding: 0 3rem 0 0.6rem; }
  .itemlist li .b .cha { right: 2.2rem; }
  .itemlist li .inputBg { width: 30%; }
  .inputBg { padding: 0; }
  .empty-cart .cart-logo { margin: 1rem auto; }
</style>
<div class="blank3"></div>
<section class="wrap">

  {if !count($goods_list)}
  <div class="empty-cart">
    <div class="ico_13 cart-logo"></div>
    <p class="message">{$lang.msg_empty_cart}</p>
  </div>
  <div class="blank3"></div>
  {else}
    <form id="formCart" method="POST" action="flow.php?step=update_cart" onchange="update_cart()">
        <ul class="radius10 itemlist">
            <!-- <li>
                <p class="xuanzhes">

                    <input checked="" id="selAll" onclick="selectAll_guan();" type="checkbox"> {$lang.select_all}</p>
            </li> -->

            {foreach from=$goods_list item=goods}
            <li class="new-tbl-type">
              <div class="itemlist_l new-tbl-cell">
                <!-- <input checked="" name="checkAll[]" id="checkAll" onclick="setSelectAll_guan();" value="4248" class="quanxuan" type="checkbox"> -->
                <a href="goods.php?id={$goods.goods_id}">
                  <img class="lazy" src="../../{$goods.goods_thumb}" title="{$goods.name}" border="0">
                </a>
              </div>
              <div class="desc new-tbl-cell">
                <h4>{$goods.goods_name}</h4>
                <h4>{$goods.goods_attr}</h4>
                <div style="clear:both"></div>
                <div class="b">
                  <em class="price">{$goods.goods_price}</em>
                  <span style="jianju">x </span>
                  <span class="txt">
                    <input class="inputBg" min="1" name="goods_number[{$goods.rec_id}]" id="goods_number_{$goods.rec_id}" value="{$goods.goods_number}" type="number">
                  </span>
                  <a href="javascript:if (confirm('{$lang.msg_confirm_drop_goods}')) location.href='flow.php?step=drop_goods&amp;id={$goods.rec_id}'; " class="ico_08 cha"></a>
                </div>
              </div>
            </li>
            {/foreach}
        </ul>
    </form>
  {/if}
</section>


{if count($goods_list)}
<style>
  .toolbar { position: relative; }
  .toolbar a { width: 40%; }
</style>
<div class="blank3"></div>
<footer class="toolbar">
  <p>{$lang.total_price}: <em class="price" id="goods_subtotal">{$total.goods_price}</em></p>
  <a href="flow.php?step=checkout">{$lang.checkout} (<em class="num" id="total_number">{$cart_count}</em>)</a>
</footer>
{/if}

{include file='foot.html'}


<script>
    /*
    function changenum(rec_id)
    {
        var goods_number = parseInt(document.getElementById('goods_number_'+rec_id).value);
        change_goods_number(rec_id, goods_number);
    }

    function change_goods_number(rec_id, goods_number)
    {
        Ajax.call('flow.php?step=ajax_update_cart', 'rec_id=' + rec_id +'&goods_number=' + goods_number, change_goods_number_response, 'POST','JSON');
    }
    */
    function update_cart()
    {
        $.ajax({
          type: 'POST',
          url: 'flow.php?step=ajax_update_cart',
          data: $('#formCart').serialize(),
          dataType: 'json',
          success: change_goods_number_response
        })
    }

    function change_goods_number_response(result)
    {
        if (!result.error)
        {

          $('[class$=-cart-num]').text(result.total_number);

            var rec_id = result.rec_id;
            //更新赠品
            if(result.gift_num != ''){
                for(var i in result.gift_num){
                    $('#gift_num_'+rec_id+'_'+result.gift_num[i].key).html(result.gift_num[i].gift_num);
                }
            }
            document.getElementById('total_number').innerHTML = result.total_number;//更新数量
            document.getElementById('goods_subtotal').innerHTML = result.total_desc;//更新小计
            //document.getElementById('goods_weight_add').innerHTML = result.goods_weight+'kg';//更新重量
            if (document.getElementById('ECS_CARTINFO'))
            {//更新购物车数量
                document.getElementById('ECS_CARTINFO').innerHTML = result.cart_info;
            }
        }

        if (result.message)
        {
            alert(result.message);
        }
    }
</script>
