<div id="content" class="footer mr-t20">
  <!-- <div class="in">
    <div class="search_box">
      <form action="search.php" name="searchForm" id="searchForm_id">
        <input name="keywords" type="text" id="keywordfoot" />
        <button class="ico_07" type="submit" value="搜索" onclick="return check('keywordfoot')"> </button>
      </form>
    </div>
    <a href="./" class="homeBtn"> <span class="ico_05"> </span> </a> <a href="#top" class="gotop"> <span class="ico_06"> </span> <p> TOP </p>
    </a>
  </div> -->
  <style>
    .footer { padding: 0 0 0.6rem; margin-top: 14px; }
    .footer .link a { color: gray; }
    .footer .link a[href] { color: #1CA2E1; }
    .footer p { line-height: 1rem; margin-bottom: 0.4rem; }
  </style>
  <p class="link region">
    <a>触屏版</a>
    <a href="../">桌面版</a>
    <!-- <a href="article.php?id=5">关于我们</a>
    <a href="./article_cat-3-1.html">帮助中心</a> -->
  </p>
  <p class="region">{$copyright}</p>
  <!--<div class="favLink region"> <a href="http://www.ecmoban.com"> powered by ecmoban </a> </div>-->
</div>

{include file='global_nav.html'}
