<link href="css/global_nav.css?v=20140408" type="text/css" rel="stylesheet"/>
<style>
  .global-nav__nav-link { margin: 0 auto; }
  .global-nav__yhd-text {
    color: white;
    font-weight: bold;
    font-size: 0.95rem;
    text-align: center;
    line-height: 57px;
  }
  .global-nav__operate-wrap:after {
    content: none
  }
  .global-nav--current .global-nav__operate-wrap:after {
    content: '';
  }
  .global-nav--current .global-nav__yhd-text {
    display: none;
  }
</style>
<div class="global-nav">
    <div class="global-nav__nav-wrap">
        <div class="global-nav__nav-item">
            <a href="./" class="global-nav__nav-link">
                <i class="global-nav__iconfont global-nav__icon-index">&#xf0001;</i>
                <span class="global-nav__nav-tit">{$lang.home}</span>
            </a>
        </div>
        <div class="global-nav__nav-item">
            <a href="cat_all.php" class="global-nav__nav-link">
                <i class="global-nav__iconfont global-nav__icon-category">&#xf0002;</i>
                <span class="global-nav__nav-tit">{$lang.cat_all}</span>
            </a>
        </div>
        <!-- <div class="global-nav__nav-item">
            <a href="javascript:get_search_box();" class="global-nav__nav-link">
                <i class="global-nav__iconfont global-nav__icon-search">&#xf0003;</i>
                <span class="global-nav__nav-tit">搜索</span>
            </a>
        </div> -->
        <div class="global-nav__nav-item">
            <a href="flow.php?step=cart" class="global-nav__nav-link">
                <i class="global-nav__iconfont global-nav__icon-shop-cart">&#xf0004;</i>
                <span class="global-nav__nav-tit">{$lang.cart}</span>
                <span class="global-nav__nav-shop-cart-num" id="carId">{$cart_count}</span>
            </a>
        </div>
        <div class="global-nav__nav-item">
            <a href="user.php?act=order_list" class="global-nav__nav-link">
                <i class="global-nav__iconfont global-nav__icon-my-yhd">&#xf0005;</i>
                <span class="global-nav__nav-tit">{$lang.my_orders}</span>
            </a>
        </div>
    </div>
    <div class="global-nav__operate-wrap">
        <!-- <span class="global-nav__yhd-logo">{$lang.menu}</span> -->
        <div class="global-nav__yhd-text">{$lang.menu}</div>
        <span class="global-nav__operate-cart-num" id="globalId">{$cart_count}</span>
    </div>
</div>
<script>
  Zepto(function($){
    var $nav = $('.global-nav'), $btnLogo = $('.global-nav__operate-wrap');
     //点击箭头，显示隐藏导航
    $btnLogo.on('click',function(){
      if($btnLogo.parent().hasClass('global-nav--current')){
         navHide();
       }else{
         navShow();
       }
     });
    var navShow = function(){
      $nav.addClass('global-nav--current');
    }
    var navHide = function(){
      $nav.removeClass('global-nav--current');
    }
    
    $(window).on("scroll", function() {
      if($nav.hasClass('global-nav--current')){
        navHide();
      }
    });
  })
</script>
