<!DOCTYPE html>
<html>
<head>
{include file='head.html'}
</head>
<body>

<header id="header" >
  <div class="header_l">
    <a class="ico_10" href="javascript:history.back()"></a>
  </div>
  <h1>{$goods.goods_name}</h1>
  <div class="header_r">
    <a class="ico_01" href="flow.php"></a>
  </div>
</header>

<style>
  .goods_slider .scroller ul li { padding: 0 4px; }
  .goods_slider .scroller img { height: 100%; }
</style>
<section class="goods_slider">
  <div class="blank2"></div>
  <div id="slideBox" class="slideBox">
    <div class="scroller">
      <ul>
        {foreach from=$goods.pictures item=pic}
        <li>
          <img alt="{$pic.img_desc}" src="../../{$pic.img_url}"/>
        </li>
        {/foreach}
      </ul>
    </div>

    {if count($goods.pictures) lt 2}
    <style>
    .goods_slider .slideBox .icons { display: none; }
    </style>
    {/if}
    <div class="icons">
      <ul></ul>
    </div>
  </div>
</section>
<script type="text/javascript">
TouchSlide({ 
  slideCell:"#slideBox",
  titCell:".icons ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
  mainCell:".scroller ul", 
  effect:"leftLoop", 
  autoPage:true,//自动分页
  autoPlay:false //自动播放
});
function showPic(){
  var data = document.getElementById("slideBox").className;
  var reCat = /ui-gallery/;
  //str1.indexOf(str2);
  if( reCat.test(data) ){
    document.getElementById("slideBox").className = 'slideBox';
  }else{
    document.getElementById("slideBox").className = 'slideBox ui-gallery';
    //document.getElementById("slideBox").style.position = 'fixed';
  }
}
</script> 
 
<style>
  .goodsInfo h1 { padding: 0; font-size: 1.2rem; }
  .goodsInfo a { text-decoration: underline; }
</style>
<section class="goodsInfo">
  <!-- <a class="collect" id="collect_box" href="javascript:collect(1102)" style="display: inline;"></a> -->
  <div class="title">
    <h1>{$goods.goods_name}</h1>
  </div>
  <ul>
    <li>
      {$lang.shop_price}{$lang.colon}
      <b class="price">{$goods.shop_price_formated}</b>
    </li>
    <li>
      {$lang.market_price}{$lang.colon}
      <del>{$goods.market_price}</del>
    </li>
    {if $brand_name}
    <li>{$lang.brand}{$lang.colon}
      <a href='brands.php?b_id={$goods_info.brand_id}'>{$brand_name}</a>
    </li>
    {/if}
    <li>{$lang.category}{$lang.colon}
      {foreach from=$cat_array item=cat_data}
        <a href='category.php?c_id={$cat_data.cat_id}'>{$cat_data.cat_name}</a>&nbsp;&nbsp;&gt;
      {/foreach}
      {$goods.goods_name}
    </li>
  </ul>
  <ul>
    <!-- <li>月销量：0件</li> -->
  </ul>
</section>

<style>
  .goodsBuy .fields .ul1 {
    padding: 0 0 0.7rem;
  }
  .goodsBuy .fields .quantity {
    padding: 0 0 0.1rem;
  }
  .fields .spec {
    padding: 0.8rem 0;
  }
  .fields .spec input {
    vertical-align: middle;
    zoom: 140%;
  }
</style>
<div class="wrap">
  <section class="goodsBuy radius5">
    <input id="goodsBuy-open" type="checkbox">
    <label class="info" for="goodsBuy-open">
    <div>{$lang.please}<span></span><i></i></div>
    <div class="selected"> </div>
    </label>
    <form onsubmit="return false" onchange="changePrice()">
      <div class="fields" style="display:block">
        <ul class="spec">
          {foreach from=$specification item=spec key=spec_key}
          <li>
            {$spec.name}:<br />
            {if $spec.attr_type eq 1}
              {foreach from=$spec.values item=value key=key}
              <input type="radio" name="spec_{$spec_key}" value="{$value.id}" id="spec_value_{$value.id}" {if $key eq 0}checked{/if}/>
              <label for="spec_value_{$value.id}">
                {$value.label}
                {if $value.price}
                [{if $value.price gt 0}+
                {elseif $value.price lt 0}-{/if} {$value.format_price|abs}]
                {/if}
              </label>
              <br />
              {/foreach}
              <input type="hidden" name="spec_list" value="{$key}" />
            {else}
              {foreach from=$spec.values item=value key=key}
              <input type="checkbox"
              {if $value.price}data-price="{$value.price}"{/if}
              name="spec_{$spec_key}" value="{$value.id}" id="spec_value_{$value.id}" {if $key eq 0}checked{/if}/>
              <label for="spec_value_{$value.id}">
                {$value.label}
                {if $value.price}
                [{if $value.price gt 0}+{elseif $value.price lt 0}-{/if}{$value.format_price|abs}]
                {/if}
              </label>
              <br />
              {/foreach}
              <input type="hidden" name="spec_list" value="{$key}" />
            {/if}
          </li>
          {/foreach}
        </ul>
        <ul class="ul1">
          <li>
            {$lang.total_price}{$lang.colon}
            <font id="ECS_GOODS_AMOUNT" class="price">{$goods.shop_price_formated}</font>
          </li>
          <li>
            {$lang.number}{$lang.colon}{$goods.goods_number}
          </li>
        </ul>
        <ul class="quantity">
          <li>
            {$lang.quantity}{$lang.colon}
            <span class="ui-number radius5"> 
              <button type="button" class="decrease radius5" onclick="changenum(-1)">-</button>
              <input class="num" name="number" id="goods_number" autocomplete="off" value="1" min="1" type="number" />
              <button type="button" class="increase radius5" onclick="changenum(1)">+</button>
            </span>
          </li>
        </ul>
      </div>
      <div class="option">
        <button class="btn buy radius5" onClick="addToCart(true)">
          {$lang.buy_now}
        </button>
        <button class="btn cart radius5" onclick="addToCart();">
          <div class="ico_01"></div>
          {$lang.add_to_cart}
        </button>
      </div>
    </form>
  </section>
</div>

<style>
  .s-detail .desc { padding: 0.7rem; }
  .s-detail .desc p {
    -webkit-margin-before: 0;
  }
  .s-detail .desc table {
    border-spacing: 1px;
    border-collapse: separate;
  }
</style>

{if $goods.goods_desc}
<section class="s-detail">
  <!-- <header>
    <ul style="position: static;" id="detail_nav">
      <li id="tabs1" onClick="tab(1)" class="current"> 详情 </li>
      <li id="tabs2" onClick="tab(2)" class=""> 评价 <span class="review-count">(4)</span> </li>
      <li id="tabs3" onClick="tab(3)" class=""> 热销 </li>
    </ul>
  </header> -->
  <div id="tab1">
    <div class="desc wrap">
      {$goods.goods_desc}
    </div>
  </div>
</section>
{/if}

{include file='foot.html'}

<script type="text/javascript">
// 必须有分号 smarty坑
var goods_id = {$goods_id};
var goods_price = {$goods.shop_price};
var stock_number = {$goods.goods_number};
changePrice();

function addToCart(quick){
  var $form = $('.goodsBuy form')
  console.log($form.serializeArray())
}

function changePrice(){
  var $amount = $('#ECS_GOODS_AMOUNT')
  var text = $amount.text()
  var count = parseInt($('#goods_number').val())
  var amount = count * goods_price

  $('.spec input[data-price]:checked')
    .each(function(i, el){
      amount += Number($(el).attr('data-price'))
    })

  text = text.replace(/[\d\.]+/, amount)
  $('#ECS_GOODS_AMOUNT').text(text)
}

// 筛选商品属性
jQuery(function($) {
  $(".info").click(function(){
    $('.goodsBuy .fields').slideToggle("fast");
  });
})
function changenum(diff) {
  var num = parseInt($('#goods_number').val());
  var next_num = num + Number(diff);
  if( next_num >= 1 && next_num <= stock_number){
    $('#goods_number').val(next_num);//更新数量
    changePrice();
  }
}
</script>
</body>
</html>
