<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />

<title>{$shop_name}</title>
<link href="../favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="css/ectouch.css?v=2014" rel="stylesheet" type="text/css" />
<style>
  #header h1 {
    padding: 0 50px;
    height: 3rem;
    overflow: hidden;
  }
</style>

<script src="js/jquery-2.1.1.min.js"></script>
<script>var Zepto = jQuery</script>
<script type="text/javascript" src="js/TouchSlide.js"></script>
<script type="text/javascript" src="js/ectouch.js"></script>
