<!DOCTYPE html>
<html>
<head>
{include file='head.html'}
</head>
<body>

<div id="page">
  <header id="header" >
    <div class="header_l">
      <a class="ico_02" href="#menu"> 菜单栏 </a>
    </div>
    <h1>{$shop_name}</h1>
    <div class="header_r">
      <a class="ico_01" href="flow.php"> 购物车 </a>
    </div>
  </header>
</div>
 
<style>
.focus .hd ul .on {
  background-color: #5151ec;
}
</style>
<div id="focus" class="focus region">
  <div class="hd">
    <ul>
    </ul>
  </div>
  <div class="bd">
  {if count($index_ads) > 0}
    <ul>
      {foreach from=$index_ads item=ad}
      <li>
        <!-- <a href='{$ad.link}' target='_blank'> -->
        <a>
          <img src='../{$ad.item_url}' width='360' height='168' border='0' />
        </a>
      </li>
      {/foreach}
    </ul>
  {/if}
  </div>
</div>
<script type="text/javascript">
TouchSlide({ 
  slideCell:"#focus",
  titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
  mainCell:".bd ul", 
  effect:"leftLoop", 
  autoPlay:true,//自动播放
  autoPage:true //自动分页
});
</script>
<div class="blank2"> </div>
<div id="content" class="wrap">

{include file='search_box.html'}

  <!-- <div class="region row row_category">
    <ul class="flex flex-f-row">
    
          <li class="flex_in"> <a href="cat_all.php" title="全部分类"> <img src="http://img.chihuoyizu.cn/mobile/themes/default/images/icon_indexn_01.png" /> </a>
        <p> 全部分类 </p>
      </li>
                  <li class="flex_in"> <a href="chibo.php" title="吃博"> <img src="http://img.chihuoyizu.cn/mobile/themes/default/images/icon_indexn_02.png" /> </a>
        <p> 吃博 </p>
      </li>
                  <li class="flex_in"> <a href="activity.html" title="吃货折学"> <img src="http://img.chihuoyizu.cn/mobile/themes/default/images/icon_indexn_03.png" /> </a>
        <p> 吃货折学 </p>
      </li>
                  <li class="flex_in"> <a href="buluo.html" title="吃货部落"> <img src="http://img.chihuoyizu.cn/mobile/themes/default/images/icon_indexn_04.png" /> </a>
        <p> 吃货部落 </p>
      </li>
            </ul><ul class="flex flex-f-row">
                  <li class="flex_in"> <a href="chihuo_tv.php" title="美男私房菜"> <img src="http://img.chihuoyizu.cn/mobile/themes/default/images/icon_indexn_05.png" /> </a>
        <p> 美男私房菜 </p>
      </li>
                  <li class="flex_in"> <a href="user.php" title="个人中心"> <img src="http://img.chihuoyizu.cn/mobile/themes/default/images/icon_indexn_06.png" /> </a>
        <p> 个人中心 </p>
      </li>
                  <li class="flex_in"> <a href="ectouch.php?act=share" title="分享"> <img src="http://img.chihuoyizu.cn/mobile/themes/default/images/icon_indexn_07.png" /> </a>
        <p> 分享 </p>
      </li>
                  <li class="flex_in"> <a href="http://qiao.baidu.com/v3/?module=default&controller=im&action=index&ucid=7172551&type=n&siteid=4539250&height=200" target="_blank" title="联系客服"> <img src="http://img.chihuoyizu.cn/mobile/themes/default/images/icon_indexn_08.png" /> </a>
        <p> 联系客服 </p>
      </li>
                </ul>
  </div> -->
  

<style>
  .item_show_box1 header {
    background-color: #6a6aee;
  }
</style>

{if count($hot_goods) > 0}
<div class="blank2"></div>
<section class="item_show_box1 box1 region">
  <header>
      <span>热门商品</span>
      <a href="goods_list.php?type=hot" class="ico_04 more">
      </a>
  </header>
  <div class="flex flex-f-row">
    {foreach from=$hot_goods item=goods}
      <div class="goodsItem flex_in">
        <a href="goods.php?id={$goods.id}">
          <img src="../{$goods.thumb}" alt="{$goods.name}" />
        </a>
        <div style="text-align:center">
          <span class="price_s">{$goods.shop_price}</span> 
          <br>{$goods.name}
        </div>
      </div>
    {/foreach}
  </div>
</section>
{/if}

{if count($best_goods) > 0}
<div class="blank2"></div>
<section class="item_show_box1 box1 region">
  <header>
      <span>精品推荐</span>
      <a href="goods_list.php?type=best" class="ico_04 more">
      </a>
  </header>
  <div class="flex flex-f-row">
    {foreach from=$best_goods item=goods}
      <div class="goodsItem flex_in">
        <a href="goods.php?id={$goods.id}">
          <img src="../{$goods.thumb}" alt="{$goods.name}" />
        </a>
        <div style="text-align:center">
          <span class="price_s">{$goods.shop_price}</span> 
          <br>{$goods.name}
        </div>
      </div>
    {/foreach}
  </div>
</section>
{/if}

{if count($new_goods) > 0}
<div class="blank2"></div>
<section class="item_show_box1 box1 region">
  <header>
      <span>最新上架</span>
      <a href="goods_list.php?type=new" class="ico_04 more">
      </a>
  </header>
  <div class="flex flex-f-row">
    {foreach from=$new_goods item=goods}
      <div class="goodsItem flex_in">
        <a href="goods.php?id={$goods.id}">
          <img src="../{$goods.thumb}" alt="{$goods.name}" />
        </a>
        <div style="text-align:center">
          <span class="price_s">{$goods.shop_price}</span> 
          <br>{$goods.name}
        </div>
      </div>
    {/foreach}
  </div>
</section>
{/if}
</div>
 
{include file='foot.html'}

<nav id="menu" style="display:None">
  <ul>
    <li>
      <a href="cat_all.php">全部分类</a>
    </li>
    {foreach from=$pcat_array item=pcat_data}
    <li>
      <a href="category.php?c_id={$pcat_data.id}">{$pcat_data.name}</a>
      {if count($pcat_data['cat_id'])}
        <ul>
        {foreach from=$pcat_data['cat_id'] item=cat_data name=foo}
          <li>
            <a href='category.php?c_id={$cat_data.id}'>{$cat_data.name}</a>
          </li>
        {/foreach}
        </ul>
      {/if}
    </li>
    {/foreach}
  </ul>
</nav>

<script src="js/jquery.mmenu.js"></script>
<script type="text/javascript">
$(function() {
  $('nav#menu').mmenu();
  $('#menu').css('display','');
});
</script>
</body>
</html>
