<style>
  header .fakeInput input {
    background: none;
    font-size: 14px;
    height: 2.5rem;
    width: 70%;
    border: none;
    text-align: left;
    margin-left: 8%;
  }
</style>
<script>
  function get_search_box(){
    $('#search-box').focus();
  }

  /* 搜索验证 */
  function check(Id){
    var strings = document.getElementById(Id).value;
    if(strings.replace(/(^\s*)|(\s*$)/g, "").length == 0){
      return false;
    }
    return true;
  }
  $(function(){
    $('#search-form').on('submit', function(){
      if (!check('search-box')) {
        return false
      }
    })
    $('#search-form .search').on('click', function(){
      $('#search-form').submit()
    })
  })
</script>
<header class="region">
  <form id="search-form" action="search.php">
    <div class="fakeInput box1 radius15">
      <input type="text" placeholder="{$lang.search}" name="keywords" id="search-box">
      <div class="search ico_03"> </div>
    </div>
  </form>
</header>
