<!DOCTYPE html>
<html>
<head>
{include file='head.html'}
</head>
<body>

<header id="header" >
  <div class="header_l">
    <a class="ico_10" href="javascript:history.back()"></a>
  </div>
  <h1>{$lang.user_register}</h1>
  <div class="header_r">
    <a class="ico_01" href="flow.php"></a>
  </div>
</header>

<section class="wrap">
  <div id="leftTabBox" class="loginBox">
    <div class="hd">
      <span>{$lang.welcome}</span>
      <ul>
        <li><a href="user.php">{$lang.login}</a></li>
        <li class="on"><a href="javascript:void(0)">{$lang.register}</a></li>
      </ul>
    </div>
    <div class="bd">
      <div class="table_box">
        <form id="register_form">
          <input type="hidden" name="flag" id="flag" value="register" />
          <dl>
            <dd>
              <input placeholder="{$lang.username}" class="inputBg" name="username" id="username" type="text" />
            </dd>
          </dl>
          <dl>
            <dd>
              <input placeholder="{$lang.email}" class="inputBg" name="email" id="email" type="email" />
            </dd>
          </dl>
          <dl>
            <dd>
              <input placeholder="{$lang.password}" class="inputBg" name="password" id="password1" type="password" />
            </dd>
          </dl>
          <dl>
            <dd>
              <input placeholder="{$lang.confirm_password}" class="inputBg" name="confirm_password" id="confirm_password" type="password" />
            </dd>
          </dl>
          <dl>
            <dd>
              <input name="Submit" type="submit" value="{$lang.register}" class="c-btn3" />
            </dd>
          </dl>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  $(function(){
    var $form = $('#register_form')
    $form.on('submit', function(e){
      e.preventDefault()
      $.ajax({
        type: 'post',
        url: 'user.php?act=ajax_register',
        dataType: 'json',
        data: $form.serialize(),
        success: function(ret){
          if (ret.message) alert(ret.message)
          if (ret.redirect) location = ret.redirect
        }
      })
    })
  })
</script>

{include file='foot.html'}
</body>
</html>
