<!DOCTYPE html>
<html>
<head>
{include file='head.html'}
</head>
<body>

<header id="header" >
  <div class="header_l">
    <a class="ico_10" href="javascript:history.back()"></a>
  </div>
  <h1>用户登录</h1>
  <div class="header_r">
    <a class="ico_01" href="flow.php"></a>
  </div>
</header>

<section class="wrap">
  <div id="leftTabBox" class="loginBox">
    <div class="hd">
      <span>欢迎光临，登录后体验更多服务</span>
      <ul>
        <li class="on"><a href="javascript:void(0)">登录</a></li>
        <li><a href="user.php?act=register">注册</a></li>
      </ul>
    </div>
    <div class="bd">
      <div class="table_box">
        <form id="login_form">
          <dl>
            <dd>
              <input placeholder="用户名/手机/电子邮件地址" name="username" type="text"  class="inputBg" id="username" />
            </dd>
          </dl>
          <dl>
            <dd>
              <input placeholder="密码"  name="pwd" type="password" class="inputBg" />
            </dd>
          </dl>
          <dl>
            <dd>
              <input type="submit" name="submit"  value="立即登录" class="c-btn3" />
            </dd>
          </dl>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  $(function(){
    var $form = $('#login_form')
    $form.on('submit', function(e){
      e.preventDefault()
      $.ajax({
        type: 'post',
        url: 'user.php?act=ajax_login',
        dataType: 'json',
        data: $form.serialize(),
        success: function(ret){
          if (ret.message) alert(ret.message)
          if (ret.redirect) location = ret.redirect
        }
      })
    })
  })
</script>

{include file='foot.html'}
</body>
</html>
